@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	margin:0;
	padding: 0; 
	background: #EFF2FB;
}
.a{
	margin:0;
	padding: 0; 
	background: #EFF2FB;
}

.search-box{
	position: absolute;
	height: 40px;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #010067;
	border-radius: 40px;
	padding: 0px;
}

.search-btn{
	color: #010067;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	
	border:none;
	background: none;
	outline: none;
	float: left;
	padding: 5px;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	text-align: center;
	width: 240px;
}
.logo-x{
	padding: 10px;
	margin: 10px;
	float: right;
	top: -2px;
	width: 250px;
	height: 55;
	top: 20px;
	position: absolute;


}
.cerrar{
	float: left;
	color: #000000;
    background-color: #D8D8D8;
    border-color: #D8D8D8;
   

}
.div{
	width: 200px;
	padding: 25px 0;
	margin: 0;
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 200px;
	top: 0;
	
}

h5{
	color: #010067;
	text-align: center;
    font-family:  Arial, Verdana, sans-serif;

}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;


}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #010067;

}

.login-header {
  background: #010067;
  padding: 15px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  align-items: center;
   display:block;
   width:400px;
   margin: 0 auto;
  
}

.login-container {
  background: #CEE3F6;
  padding: 2px;
   display:block;
    width:400px;
   margin: 0 auto;
   font-weight: bold;
  text-align: center;

	
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
  font-weight: bold;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.input{
	text-align: center;
}
#editar{
	  color: #fff;
    background-color: #010067;
    border-color: #010067;
}
#cerrar{
	color: #fff;
    background-color: #A4A4A4;
    border-color: #A4A4A4;
}
.check {
	width:20px;
	height:20px;
}

button{
	width: 330px; 
	margin: 0 auto;
	color: #fff;
    background-color: #010067;
text-align: center;
margin: auto; display: block
}

label{
	font-weight: bold;
	font-family:  Arial, Verdana, sans-serif;
}

input{
	color: #010067;

  float: right;
  display: inline-block;

}
td{
	border-collapse: separate;
}

img{
	padding: 10px;
	margin: 10px;
	float: left;
	top: -2px;
	width: 250px;
	height: 55;
	top: 20px;
	position: absolute;



}
th{
	 text-align: center;
}

 table {
           width:65%;
}

.ventana{
    background:rgba(0,0,102,1);
    width:30%;
    color:rgba(255,255,255,1);
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align:center;
    padding:33px;
    min-height:250px;
    border-radius:22px;
    position:absolute;
    left:34%;
    top:25%;
    display:none;
}

